<app-navbar></app-navbar> 

<main role="main" class="container">
  <div class="starter-template">
    <!-- Welcome text -->
    <h1>IP Batch Geolocation</h1>
    <p class="lead">Find the location of multiple IP addresses</p>
  </div>
</main><!-- /.container -->

<!-- Map -->
<div class="">
  <agm-map #AgmMap [latitude]="lat" [longitude]="lng" [styles]="style">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
  </agm-map>
</div>

<main role="main" class="container">
  <div class="starter-template">
    
    <!-- Textarea -->
    <div class="row">
      <div [hidden]="markers.length > 0" class="col-lg-12">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">IP List</span>
        </h4>
        <form>
          <div class="form-group">
            <textarea class="form-control mb-2" id="ipListTextarea" rows="5" placeholder="162.255.119.250 ..." [(ngModel)]="ipList" name="iplist"></textarea>
          </div>
        </form>
      </div>
      <div [hidden]="markers.length == 0" class="col-lg-12">
          <h4 class="d-flex justify-content-between align-items-center mt-5 mb-3">
            <span class="text-muted">Results</span>
            <span class="badge badge-secondary badge-pill">{{ markers.length }}</span>
          </h4>
          <ul class="list-group mb-2">
            <li *ngFor="let marker of markers" class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ marker.ip }}</h6>
              </div>
              <span class="text-muted">{{ marker.city }}, {{ marker.country_name }} <span class="flag-icon flag-icon-{{ marker.country_code | lowercase }}"></span></span>
            </li>
          </ul>
      </div>
    </div>
  </div>
</main><!-- /.container -->

<footer class="bg-primary text-center">
  <button [hidden]="markers.length > 0" [disabled]="loading_batch" class="btn btn-lg btn-block btn-primary py-3 my-sm-0" (click)="proccessIPList()" type="submit"><i class="fa" [ngClass]="{'fa-spin':loading_batch, 'fa-circle-o-notch':loading_batch, 'fa-arrow-up':!loading_batch}"></i> {{!loading_batch ? "Submit" : "Loading"}}</button>
  <button [hidden]="markers.length == 0" class="btn btn-lg btn-block btn-primary py-3 my-sm-0" (click)="reset()" type="submit"><i class="fa fa-undo"></i> Reset</button>
</footer>