@import "~bootstrap/dist/css/bootstrap.css";
@import "~flag-icon-css/css/flag-icon.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
}